asgiref
backports.entry-points-selectable
certifi
cffi
charset-normalizer
click
cryptography
defusedxml
distlib
dj-rest-auth
Django
django-allauth
django-appconf
django-cors-headers
django-filter
django-model-utils
django-users2
djangorestframework
dominate
drf-yasg
filelock
Flask
Flask-Bootstrap4
Flask-Cors
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
inflection
itsdangerous
Jinja2
Markdown
MarkupSafe
oauthlib
packaging
pipenv
platformdirs
pycparser
PyJWT
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
SQLAlchemy
sqlparse
typing_extensions
uritemplate
urllib3
virtualenv
virtualenv-clone
visitor
WTForms
zipp
